:root{
    --background-color:#fff;
    --text:rgb(0, 0, 0);
    --border:rgb(187, 121, 0);
    --plain-text:rgb(51, 51, 51);
}

[data-theme="dark"] {
    --background-color: #000000;
    --text:#fff;
    --border:orange;
    --plain-text:rgb(194, 194, 194);
}
*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--plain-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backbtnar{
    width: 100vw;
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
}

.backBtn{
    margin-right: 8vw;
    color: var(--text);
    height: 2rem;
    width: 4.7rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--text);
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.backBtn:active{
    background-color: rgb(119, 119, 119);
    transform: scale(0.97);
}

.allboxes{
    color: var(--plain-text);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 98vh;
    text-align: justify;
}
.box{
    flex: 1;
    border: 2px solid var(--border);
    border-radius: 15px;
    margin: 3rem;
    height: 70%;
    display: flex;
    flex-direction: column;
}
p{
    margin: 5rem;
}
.butn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butn button{
    outline: none;
    background-color: inherit;
    border: none;
    background-color: rgb(0, 136, 214);
    border-radius: 5px;
    color: rgb(255, 253, 253);
    height: 3.5rem;
    width: 14rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.butn button:active{
    background-color: rgb(2, 109, 170);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.97);
}

.inputFile{
    display: none;
}


@media screen and (max-width:930px){
    .allboxes{
        flex-direction: column;
        justify-content: center;
        height: 85vh;
        
    }
    .box{
        width: auto;
        height: fit-content;
        margin: 1rem;
    }
    p{
        margin: 2rem;
    }
    .butn{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}